<div class="title"><h1>Listing contacts</h1></div>
<div class="navigation">
	<%= link_to 'Your contacts', contacts_path %>		
	<%= link_to 'New contact', new_contact_path %>
	<div class="clearer"><span></span></div>
</div>
